* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}

/* ---- Typography ---- */

body {
	font-family:Helvetica, Arial, sans-serif;}

h1 {
	font-size:45px;
	font-weight:300;}

h2 {
	font-size:25px;
	font-weight:bold;}

h3 {
	font-size:20px;
	font-weight:bold;}

h4 {
	font-size:17px;
	font-weight:bold;}

h5 {
	font-size:15px;
	font-weight:bold;}

p {
	font-size:15px;
	font-weight:normal;}

/* ---- Project styles ---- */

.title {
	margin-bottom:32px;
	padding:48px 0 4px 24px;
	color:#fff;
	text-transform:uppercase;
	vertical-align:bottom;
	background-color:#33BEBE;}

.app {
	display:-webkit-flex;
	display:flex;}

.description {
	max-width:705px;
	height:auto;
	font-size:24px;
	font-weight:300;
	line-height:1.2em;
	color:#7C8B88;}

.screenshot {
	margin-right:32px;
	max-width:460px;
	height:auto;}

/* ---- Project styles 2 ---- */

.title-x {
	margin-bottom:32px;
	padding:48px 0 4px 24px;
	color:#fff;
	text-transform:uppercase;
	vertical-align:bottom;
	background-color:#33BEBE;}

.app-x {
	clear:both;
	overflow:hidden;}

.description-x {
	max-width:705px;
	height:auto;
	font-size:24px;
	font-weight:300;
	line-height:1.2em;
	color:#7C8B88;}

.screenshot-x {
	display:block;
	float:left;
	margin:0 32px 32px 0;
	width:auto;
	height:auto;}

/* ---- Margins, Padding & Containers ---- */

.add-margins {
	margin:20px;}

.add-padding {
	padding:20px;}

/* ---- Responsive Breakpoints ---- */


@media all and (min-device-width:960px) and (max-device-width:1176px) { 

}

@media all and (min-device-width:726px) and (max-device-width:959px) { 

}

@media all and (min-device-width:492px) and (max-device-width:725px) { 

}

@media all and (min-device-width:320px) and (max-device-width:491px) { 

}
